body {
    font:12px/1.4em Verdana,sans-serif;
    background:#E7E7E7 url('../img/bg0.png') repeat fixed right bottom;
}
body h1 {
    position:absolute;
    left:-1000px;
}
a {
    text-decoration:none;
}
a img {
    border:none;
}
a {
    /* color:#FFC757; */
    color:blue;
}
a:hover {
    /* color:#FFE761; */
    color:black;
}
#workspace {
    position:relative;
}
#start-here {
    color:white;
    width:120px;
    height:50px;
    line-height:55px;
    text-align:center;
    position:absolute;
    top:30px;
    left:10px;
    background:transparent url('../img/tooltip.png') 0 0 no-repeat;
}
.ui-dialog-content a {
    color:blue;
}
#toolbar {
    background-color:white;
    list-style-type:none;
    margin:0;
    opacity:0.6;
    overflow:auto;
    padding:0.5em 1em;
}
#toolbar li {
    left:0;
    display:block;
    float:left;
    margin-right:2em;
    opacity:1;
    position:relative;
}
.invisible {
    display:none;
}
.hidden {
    visibility:hidden;
}
.ui-state-error, .ui-state-highlight {
    margin:0.7em;
    padding:1px 0.7em;
}
span.error {
    color:red;
}
.ui-state-highlight {
    margin-top:20px;
}
.ui-icon-alert, .ui-icon-info {
    float:left;
    margin-right:0.3em;
}
.model .ui-icon {
    background:none;
}
.ui-draggable {
    border:1px solid gray;
}
.ui-draggable-dragging {
    border:1px solid #5488BB;
}
.object {
    -moz-border-radius:5px;
    background-color:white;
    border-radius:5px;
    float:left;
    min-width:180px;
    position:absolute;
    text-align:center;
}
.app {
    color:gray;
    cursor:move;
}
.app-menu {
    background-color:white;
    border:1px solid gray;
    display:none;
    min-width:10em;
    position:absolute;
    text-align:left;
    top:22px;
}
.app-menu ul {
    margin:0;
    padding:0;
}
.app-menu ul li {
    border-top:1px solid #CCC;
    list-style-type:none;
}
.app-menu ul li.first {
    border:none;
}
.app-menu ul li a {
    display:block;
    padding:0.5em 2em;
}
.app-menu-trigger {
    background-image:url('../img/arrow.png');
    cursor:pointer;
    height:16px;
    position:absolute;
    right:10px;
    top:5px;
    width:16px;
}
.app-name {
    font-size:3em;
    font-weight:bold;
    height:100%;
    margin:1em;
    position:relative;
}
.app .models {
    display:none;
    top:31px;
    width:100%;
}
.model {
    min-height:180px;
    padding-bottom:1em;
}
.model-footer {
    background-image:url('../img/socket.png');
    bottom:3px;
    cursor:move;
    height:14px;
    position:absolute;
    right:3px;
    width:14px;
}
.model-name {
    -moz-border-radius:5px 5px 0 0;
    background:#E8E7E7 url('../img/model_name-bg.png') 50% 50% repeat-x;
    border-bottom:1px solid gray;
    border-radius:5px 5px 0 0;
    cursor:move;
    padding-right:3em;
}
.model-name .model-kill {
    background:transparent url('../img/model-kill.png') 0 0 no-repeat;
    display:block;
    float:left;
    height:17px;
    margin-right:0.3em;
    width:17px;
}
.model-name .model-kill:hover {
    background-position: 0 -17px;
}
.model-field .type, .model-field .name {
    float:left;
    padding-right:0.5em;
}
.model-name .base-class {
    font-size:0.8em;
}
.model-field, .model-method {
    padding:1px 3px;
    overflow:auto;
    cursor:move;
}
.model-method .signature {
    margin-right:1em;
    float:left;
}
.model-field:hover, .model-method:hover {
    background-color:#EEE;
}
.model .child-kill {
    float:right;
    background:transparent url('../img/child-kill.png') 50% 50% no-repeat;
    display:block;
    width:12px;
    height:1.6em;
    margin:1px 0;
}
.model .child-kill:hover {
    background:transparent url('../img/child-kill-hover.png') 50% 50% no-repeat;
}
.model-fields, .model-methods {
    font-size:0.9em;
    text-align:left;
    padding:1px 0.5em 0.5em;
}
.model-fields {
    border-bottom:1px solid gray;
    margin-bottom:0.5em;
    min-height:33px;
}
.model input {
    margin:0.5em 1em;
}
.ui-sortable-helper .child-kill, .ui-sortable-helper:hover .child-kill {
    display:none;
}
.ui-sortable-helper, .ui-sortable-helper:hover {
    background-color:transparent;
}
.ui-sortable-placeholder {
    border:1px dashed black;
    height:1.5em;
}
.ui-dialog-content .field p {
    margin:1em;
}
.ui-dialog-content p {
    margin:0 1em;
}
.ui-dialog-content input {
    vertical-align:middle;
}
#code {
    height:325px;
    width:625px;
}
.blur {
    color:gray;
}
.focus {
    color:black;
}
.model-meta {
    background:transparent url(../img/meta_options-off.png) 0 0 no-repeat;
    float:right;
    height:35px;
    margin-left:0.3em;
    position:absolute;
    right:0; /* Hack to make it work in webkit. I wanted
    it next to the name, not far in the right. */
    top:-10px;
    width:35px;
}
a.has-meta {
    background:transparent url(../img/meta_options-on.png) 0 0 no-repeat;
}
.inherits:after {
    content:"*";
}
.ui-dialog-content .meta-option, .ui-dialog-content .model-field-edit {
    clear:none;
    float:left;
    margin-bottom:5px;
    width:150px;
}
.ui-dialog-content .model-field-edit input {
    width:150px;
}
.ui-dialog-content .even {
    clear:left;
    margin-right:15px;
}
.ui-dialog-content select {
    min-width:150px;
}
.meta-options, .model-fields-edit {
    overflow:auto;
}
a.doc {
    height:17px;
    padding-left:20px;
    background:transparent url(../img/help.png) 0 50% no-repeat;
    display:block;
    margin:1px;
}
.abstract {
    font-style:italic;
}
#shareaskani {
    border:none;
    bottom:10px;
    height:25px;
    overflow:hidden;
    position:fixed;
    left:10px;
}
.fb_edge_widget_with_comment {
    vertical-align:middle;
}
#forkme {
    bottom:10px;
    display:block;
    height:90px;
    position:fixed;
    right:0.5em;
    width:90px;
}

.field {
  margin:10px 5px;
}
