<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Askani - Django projects generator</title>

        <!-- 3rd party apps -->
        <script type="text/javascript" src="js/lib/jquery-1.4.4.js"></script>
        <script type="text/javascript" src="js/lib/min/jquery-ui-1.8.6.js"></script>
        <script type="text/javascript" src="js/lib/json2.js"></script>
        <script type="text/javascript" src="js/lib/underscore.js"></script>
        <script type="text/javascript" src="js/lib/backbone.js"></script>
        <script type="text/javascript" src="js/lib/backbone-localstorage.js"></script>
        <script type="text/javascript" src="js/lib/gatrack-2.0.0.js"></script>
        <!-- <script type="text/javascript" src="js/lib/jquery.simpletip-1.3.1.js"></script> -->
        <script type="text/javascript" src="js/lib/jquery.tipsy.js"></script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <link type="text/css" href="css/redmond/jquery-ui-1.8.6.custom.css" rel="stylesheet">
        <link type="text/css" href="css/tipsy.css" rel="stylesheet">

        <!-- Askani code -->
        <script type="text/javascript" src="js/usr/utils.js"></script>
        <script type="text/javascript" src="js/usr/base.js"></script>
        <script type="text/javascript" src="js/usr/fields.js"></script>
        <script type="text/javascript" src="js/usr/exceptions.js"></script>
        <script type="text/javascript" src="js/usr/models/mmodels.js"></script>
        <script type="text/javascript" src="js/usr/models/mapps.js"></script>
        <script type="text/javascript" src="js/usr/collections/cmodels.js"></script>
        <script type="text/javascript" src="js/usr/collections/capps.js"></script>
        <script type="text/javascript" src="js/usr/views/vapps.js"></script>
        <script type="text/javascript" src="js/usr/views/vaskani.js"></script>
        <script type="text/javascript" src="js/usr/init.js"></script>
        <link type="text/css" href="css/base.css" rel="stylesheet">
    </head>
    <body>
        <h1><img src="img/logo.png" alt="Askani"></h1>

        <!-- Toolbar -->
        <ul id="toolbar">
            <li>
                <a href="#" id="app-new" class="object-new">[+] New app</a>
            </li>
            <!--
            <li>
                <a href="#" id="new-model" class="object-new">[+] New model</a>
            </li>
            <li>
                <a href="#" id="to-python">[~] To python</a>
            </li>
            <li>
                <a href="#" id="to-json">[:] To JSON</a>
            </li>
            -->
            <li>
                <a href="#" id="kill-all" class="invisible">[!] Kill all</a>
            </li>
        </ul>

        <a href="http://github.com/tooxie/askani"><img style="position:absolute;top:0;right:0;border:0" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>

        <!-- Messages -->
        <div id="messages"></div>

        <!-- Templates -->

        <!-- App -->
        <script type="text/template" id="app-template">
            <% if (object.modelsCount()) { %>
                <span class="app-models" title="App's models"><%= object.modelsCount() %></span>
            <% } %>
            <div class="app-name">
                <%= object.get('name') %>
            </div>
        </script>

        <!-- Model -->
        <script type="text/template" id="model-template">
            <div class="model-name">
                <a href="#" class="model-kill" title="Kill model"></a>
                <span class="name<% if (model.isAbstract()) { %> abstract<% } %>" title="Double click to edit"><%= model.get('name') %></span>
                <% if (model.get('base_class')) { %><br><span class="base-class" title="Double click to edit">(<%= model.get('base_class') %>)</span><% } %>
                <a href="#" class="model-meta<% if (model.get('has_meta')) { %> has-meta<% } else { %>" title="No Meta options<% } %>"></a>
            </div>
            <input type="text" class="new-model-field blur" name="attr-<%= model.id %>" value="New field" maxlength="50">
            <div class="model-fields"></div>
            <input type="text" class="new-model-method blur" id="meth-<%= model.id %>" value="New method" maxlength="50">
            <div class="model-methods"></div>
            <div class="model-footer"></div>
        </script>

        <!-- Model field -->
        <script type="text/template" id="model-field-template">
            <span class="type" title="Double click to edit"><%= field.get('type') %></span>
            <span class="name" title="Double click to edit"><%= field.get('name') %></span>
            <a href="#" class="child-kill model-field-kill" title="Kill field"></a>
        </script>

        <!-- Model method -->
        <script type="text/template" id="model-method-template">
            <span class="signature" title="Double click to edit"><%= method.get('name') %>(<%= method.get('params').join(', ') %>)</span>
            <a href="#" class="child-kill model-method-kill" title="Kill method"></a>
        </script>

        <!-- jPrompt -->

        <!-- App name -->
        <script type="text/template" id="app-name-template">
            <div class="app-name-template" id="app-name-template-holder">
                <div class="field">
                    <label for="app-name-input"><%= label %>:</label>
                    <p>
                        <input type="text" id="app-name-input" name="app-name-input" value="<%= app %>">
                    </p>
                </div>
            </div>
        </script>

        <!-- Model name -->
        <script type="text/template" id="model-name-template">
            <div class="model-name-template" id="model-name-template-holder">
                <div class="field">
                    <label for="model-name-input"><%= label %>:</label>
                    <p>
                        <input type="text" id="model-name-input" name="model-name-input" value="<%= name %>">
                    </p>
                </div>
                <div class="field">
                    <label for="model-name-overwrite-inheritance">Do not inherit from db.models.Model:</label>
                    <input type="checkbox" class="checkbox" id="model-name-overwrite-inheritance" name="model-name-overwrite-inheritance"<% if (base_class) { %> checked<% } %>>
                </div>
                <div class="field">
                    <div class="base-class<% if (!base_class) { %> invisible<% } %>">
                        <label for="model-base-class">Inherit from:</label>
                        <p>
                            <input type="text" id="model-base-class" name="model-base-class" value="<%= base_class %>">
                        </p>
                    </div>
                </div>
            </div>
        </script>

        <!-- Model field name and type -->
        <script type="text/template" id="model-field-edit-template">
            <div id="model-field-edit-template-holder">
                <div class="model-fields-edit">
                    <div class="model-field-edit even">
                        <label for="field-name">Name:</label>
                        <input type="text" name="field-name" id="field-name" value="<%= field.get('name') %>">
                    </div>
                    <div class="model-field-edit">
                        <label for="field-type">Type:</label>
                        <input type="text" name="field-type" id="field-type" value="<%= field.get('type') %>">
                    </div>
                </div>
                <div id="model-field-edit-options"></div>
                <a href="http://docs.djangoproject.com/en/dev/ref/models/fields/" class="doc">Model fields docs</a>
            </div>
        </script>

        <!-- Model field options -->
        <script type="text/template" id="model-field-options-template">
            <div id="model-field-options-template-holder">
                <div class="model-fields-options">
                    <% x = 0; %>
                    <% if (options.field) { %>
                        <% for (option in options.field) { %>
                            <div class="model-field-option<% if (x % 2 === 0) { %> even<% } %>">
                                <label for=""><%= option %>:</label>
                                <input type="text" name="field-name" id="field-name" value="<%= option %>">
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <a href="http://docs.djangoproject.com/en/dev/ref/models/fields/" class="doc">Model fields docs</a>
            </div>
        </script>

        <!-- Method signature -->
        <script type="text/template" id="method-signature-template">
            <div id="method-signature-template-holder">
                <label for="">Method signature:</label>
                <div class="field">
                    <p>
                        <input type="text" id="method-signature-input" name="method-signature-input" value="<%= signature %>">
                    <p>
                </div>
            </div>
        </script>

        <!-- Metadata -->
        <script type="text/template" id="model-meta-template">
            <div id="model-meta-template-holder">
                <div class="meta-options">
                    <% x = 0; %>
                    <% for (meta in model.get('meta_options')) { %>
                        <% option_id = meta.replace(/_/g, '-') + '--' + model.id; %>
                        <div class="meta-option<% if (x % 2 === 0) { %> even<% } %>">
                            <label for="<%= option_id %>"><%= meta.substr(0, 1).toUpperCase() + meta.substr(1).replace(/_/g, ' ') %>:</label>
                            <% option_type = model.get('meta_options')[meta]['type']; %>
                            <div>
                                <% if (option_type === 'boolean') { %>
                                    <label for="<%= option_id %>-t">True</label>
                                    <input type="radio" name="<%= option_id %>" id="<%= option_id %>-t" value="true"<% if (model.getMeta(meta)) { %> checked<% } %>>
                                    <label for="<%= option_id %>-f">False</label>
                                    <input type="radio" name="<%= option_id %>" id="<%= option_id %>-f" value="false"<% if (!model.getMeta(meta)) { %> checked<% } %>>
                                <% } else if (option_type === 'choice') { %>
                                    <% if (model.get('fields').size() === 0) { %>
                                        <span class="error">No fields to choose from.</span>
                                    <% } else {%>
                                        <select id="<%= option_id %>">
                                            <option value="">--- Choose ---</option>
                                            <% model.get('fields').each(function (el, i) { %>
                                                <option value="<%= el.id %>"<% if (model.getMeta(meta) === el.id) { %> selected<% } %>><%= el.get('name') %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                <% } else if (option_type === 'text') { %>
                                    <input type="text" name="<%= option_id %>" id="<%= option_id %>" value="">
                                <% } %>
                            </div>
                        </div>
                        <% x += 1; %>
                    <% } %>
                </div>
                <a href="http://docs.djangoproject.com/en/dev/ref/models/options/" class="doc">Model Meta options docs</a>
            </div>
        </script>

        <!-- Warnings -->
        <script type="text-template" id="warning-template">
            <div class="ui-widget">
                <div class="ui-state-highlight ui-corner-all">
                    <p>
                        <span class="ui-icon ui-icon-info"></span>
                        <strong>Hey!</strong> <%= message %>
                    </p>
                </div>
            </div>
        </script>

        <!-- Errors -->
        <script type="text-template" id="error-template">
            <div class="errorholder ui-widget">
                <div class="ui-state-error ui-corner-all">
                    <p>
                        <span class="ui-icon ui-icon-alert"></span>
                        <strong>Alert:</strong> <%= message %>
                    </p>
                </div>
            </div>
        </script>

        <!-- stdout -->
        <script type="text-template" id="output-template">
            <div id="output">
                <textarea id="code" cols="80" rows="20"><%= code %></textarea>
            </div>
        </script>

        <div id="start-here" class="invisible">
            Start here
        </div>

        <!-- Share Askani -->
        <div id="shareaskani">
            <span class="st_sharethis"></span>
            <span class="st_email"></span>
            <span class="st_twitter"></span>
            <span class="st_gbuzz"></span>
            <span class="st_digg"></span>
            <span class="st_stumbleupon"></span>
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
            <fb:like href="http://askani.net" layout="button_count" width="450"></fb:like>
        </div>

        <a href="http://stats.askani.net/" id="stats"><img src="img/stats.png" alt="Stats"></a>

        <!-- Why I don't (and you shouldn't) use XHTML:
            http://www.tangerinesmash.com/2007/html-vs-xhtml-best-tool-job/
            http://webkit.org/blog/68/understanding-html-xml-and-xhtml/
            https://developer.mozilla.org/en/Mozilla_Web_Developer_FAQ
        -->
        <!-- :wq -->
    </body>
</html>
