<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Askani Code Generator</title>
        <script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.8.6.custom.min.js"></script>
        <script type="text/javascript" src="js/json2-min.js"></script>
        <script type="text/javascript" src="js/underscore-1.1.0-min.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/backbone-localstorage-min.js"></script>
        <script type="text/javascript" src="js/utils.js"></script>
        <script type="text/javascript" src="js/fields.js"></script>
        <script type="text/javascript" src="js/exceptions.js"></script>
        <script type="text/javascript" src="js/models.js"></script>
        <script type="text/javascript" src="js/collections.js"></script>
        <script type="text/javascript" src="js/views.js"></script>
        <link type="text/css" href="css/redmond/jquery-ui-1.8.6.custom.css" rel="stylesheet">
        <link type="text/css" href="css/base.css" rel="stylesheet">
    </head>
    <body>
        <!-- Toolbar -->
        <ul id="toolbar">
            <li>
                <a href="#" id="new-model">[+] New model</a>
            </li>
            <li>
                <a href="#" id="to-python">[~] To python</a>
            </li>
            <li>
                <a href="#" id="to-json">[:] To JSON</a>
            </li>
            <li>
                <a href="#" id="kill-all">[!] Kill all</a>
            </li>
        </ul>

        <a href="http://github.com/tooxie/askani"><img style="position:absolute;top:0;right:0;border:0" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>

        <!-- Messages -->
        <div id="messages"></div>

        <!-- Workspace -->
        <div id="workspace"></div>

        <!-- Templates -->

        <!-- Model -->
        <script type="text/template" id="model-template">
            <div class="model ui-draggable" id="<%= model.id %>" style="position:absolute;left:<%= model.get('x') %>;top:<%= model.get('y') %>;z-index:<%= model.get('z') %>;">
                <div class="model-name">
                    <a href="#" class="model-kill" title="Kill model"></a>
                    <span class="name<% if (model.isAbstract()) { %> abstract<% } %>" title="Double click to edit"><%= model.get('name') %></span>
                    <% if (model.get('base_class')) { %><br><span class="base-class" title="Double click to edit">(<%= model.get('base_class') %>)</span><% } %>
                    <a href="#" class="model-meta<% if (model.get('has_meta')) { %> has-meta<% } else { %>" title="No Meta options<% } %>"></a>
                </div>
                <input type="text" class="new-model-field blur" name="attr-<%= model.id %>" value="New field" maxlength="50">
                <div class="model-fields"></div>
                <input type="text" class="new-model-method blur" id="meth-<%= model.id %>" value="New method" maxlength="50">
                <div class="model-methods"></div>
                <div class="model-footer"></div>
            </div>
        </script>

        <!-- Model field -->
        <script type="text/template" id="model-field-template">
            <div class="model-field" id="<%= field.id %>">
                <span class="type" title="Double click to edit"><%= field.get('type') %></span>
                <span class="name" title="Double click to edit"><%= field.get('name') %></span>
                <a href="#" class="child-kill model-field-kill" title="Kill field"></a>
            </div>
        </script>

        <script type="text/template" id="model-field-edit-template">
            <div class="model-field-edit-template-holder">
                <div class="model-fields-edit">
                    <div class="field even">
                        <label for="field-name">Name:</label>
                        <input type="text" name="field-name" id="field-name" value="<%= field.get('name') %>">
                    </div>
                    <div class="field">
                        <label for="field-type">Type:</label>
                        <input type="text" name="field-type" id="field-type" value="<%= field.get('type') %>">
                    </div>
                </div>
                <a href="http://docs.djangoproject.com/en/dev/ref/models/fields/" class="doc">Model fields documentation</a>
            </div>
        </script>

        <!-- Model method -->
        <script type="text/template" id="model-method-template">
            <div class="model-method" id="<%= method.id %>">
                <span class="signature" title="Double click to edit"><%= method.get('name') %>(<%= method.get('params').join(', ') %>)</span>
                <a href="#" class="child-kill model-method-kill" title="Kill method"></a>
            </div>
        </script>

        <!-- Method signature -->
        <script type="text/template" id="method-signature-template">
            <div id="method-signature-template-holder">
                <label for="">Method signature:</label>
                <div class="field">
                    <p>
                        <input type="text" id="method-signature-input" name="method-signature-input" value="<%= signature %>">
                    <p>
                </div>
            </div>
        </script>

        <!-- Metadata -->
        <script type="text/template" id="model-meta-template">
            <div class="model-meta-template-holder">
                <div class="meta-options">
                    <% x = 0; %>
                    <% for (meta in model.get('meta_options')) { %>
                        <% option_id = meta.replace(/_/g, '-') + '--' + model.id; %>
                        <div class="meta-option<% if (x % 2 === 0) { %> even<% } %>">
                            <label for="<%= option_id %>"><%= meta.substr(0, 1).toUpperCase() + meta.substr(1).replace(/_/g, ' ') %>:</label>
                            <% option_type = model.get('meta_options')[meta].type; %>
                            <div>
                                <% if (option_type === 'boolean') { %>
                                    <label for="<%= option_id %>-t">True</label>
                                    <input type="radio" name="<%= option_id %>" id="<%= option_id %>-t" value="true"<% if (model.getMeta(meta)) { %> checked<% } %>>
                                    <label for="<%= option_id %>-f">False</label>
                                    <input type="radio" name="<%= option_id %>" id="<%= option_id %>-f" value="false"<% if (!model.getMeta(meta)) { %> checked<% } %>>
                                <% } else if (option_type === 'choice') { %>
                                    <% if (model.get('fields').size() === 0) { %>
                                        <span class="error">No fields to choose from.</span>
                                    <% } else {%>
                                        <select id="<%= option_id %>">
                                            <option value="">--- Choose ---</option>
                                            <% model.get('fields').each(function (el, i) { %>
                                                <option value="<%= el.id %>"<% if (model.getMeta(meta) === el.id) { %> selected<% } %>><%= el.get('name') %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                <% } else if (option_type === 'text') { %>
                                    <input type="text" name="<%= option_id %>" id="<%= option_id %>" value="">
                                <% } %>
                            </div>
                        </div>
                        <% x += 1; %>
                    <% } %>
                </div>
                <a href="http://docs.djangoproject.com/en/dev/ref/models/options/" class="doc">Model Meta options documentation</a>
            </div>
        </script>

        <!-- Model name -->
        <script type="text/template" id="model-name-template">
            <div class="model-name-template" id="model-name-template-holder">
                <div class="field">
                    <label for="model-name-input"><%= label %>:</label>
                    <p>
                        <input type="text" id="model-name-input" name="model-name-input" value="<%= name %>">
                    </p>
                </div>
                <div class="field">
                    <label for="model-name-overwrite-inheritance">Do not inherit from db.models.Model:</label>
                    <input type="checkbox" class="checkbox" id="model-name-overwrite-inheritance" name="model-name-overwrite-inheritance"<% if (base_class) { %> checked<% } %>>
                </div>
                <div class="field">
                    <div class="base-class<% if (!base_class) { %> invisible<% } %>">
                        <label for="model-base-class">Inherit from:</label>
                        <p>
                            <input type="text" id="model-base-class" name="model-base-class" value="<%= base_class %>">
                        </p>
                    </div>
                </div>
            </div>
        </script>

        <!-- Warnings -->
        <script type="text-template" id="warning-template">
            <div class="ui-widget">
                <div class="ui-state-highlight ui-corner-all">
                    <p>
                        <span class="ui-icon ui-icon-info"></span>
                        <strong>Hey!</strong> <%= message %><% if (code) { %> (<%= code %>)<% } %>
                    </p>
                </div>
            </div>
        </script>

        <!-- Errors -->
        <script type="text-template" id="error-template">
            <div class="errorholder ui-widget">
                <div class="ui-state-error ui-corner-all">
                    <p>
                        <span class="ui-icon ui-icon-alert"></span>
                        <strong>Alert:</strong> <%= message %><% if (code) { %> (<%= code %>)<% } %>
                    </p>
                </div>
            </div>
        </script>

        <!-- stdout -->
        <script type="text-template" id="output-template">
            <div id="output">
                <textarea id="code" cols="80" rows="20"><%= code %></textarea>
            </div>
        </script>

        <!-- Why I don't (and you shouldn't) use XHTML:
            http://www.tangerinesmash.com/2007/html-vs-xhtml-best-tool-job/
            http://webkit.org/blog/68/understanding-html-xml-and-xhtml/
            https://developer.mozilla.org/en/Mozilla_Web_Developer_FAQ
        -->
        <!-- :wq -->
    </body>
</html>
